/* commen css */
.btn{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background: #7d7979;
    color: white;
    font-size: 14px;
}
.list-parent .btn{
    margin-left:20px;
}

.text p span{
    width: 110px;
    display: inline-block;
}
.main-parent{
    border:1px solid grey;
    padding:10px;
   
}

.main-parent .mytext{
    height: 30px;
    width: 50%;
    margin-right: 10px;
}

.list{
    list-style-type: none;
    padding:0;
   
    
}
li{
    box-shadow: 5px -1px 8px 2px #e2dbdb;
    padding: 10px;
}